@font-face
{
  font-family: "Guy";
  src : url("./font/guy.ttf");
}

/* CSS Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,main,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote::after,q:before,q::after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}

body
{
  font-family: "Verdana", "Genava", sans-serif;
  background-image: url('./fond/funkoBlack.jpg');
  background-attachment: fixed;
  background-color: #000;
  color: #f2f2f2;
}

body > header,
body > footer
{
  background-image: url('./fond/banniere.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body > header
{
  position: relative;
  height: 25vh;
  background-image: url('./fond/popLogo.png'), url('./fond/banniere.jpg');
  background-size: contain, cover;
  box-shadow: 0 .25em .25em hsla(0, 0%, 0%, .5);
}

body > header.small
{
  height: 12vh;
}

h1,
hr
{
  display: none;
}

body > header nav
{
  z-index: 666;
  position: absolute;
  top: 100%;
  left: 85px;
  text-align: left;
}

body > header nav  a
{
  display: block;
  padding: 20px;
  border: medium solid #007cec;
  border-radius: 5px;
  color: #007cec;
  background-color: #f2f2f2;
  text-decoration: none;
  transition: background-color .5s, color .5s;
}

body > header nav > ul
{
  display: block;
  font-family: "Guy", sans-serif;
  font-weight: bold;
}

body > header nav > ul > li
{
  display: inline-block;
}

body > header nav li ul
{
  position: absolute;
  display: none;
}

header > nav li a:hover
{
  background-color: #007cec;
  color: #f2f2f2;
}

header > nav li:hover ul
{
  display: block;
}

main {
  margin: 85px;
}

img
{
	border-color: #012765;
	border-radius: 5px;
}

article.collection > header {
  display: none;
}

article.collection form {
  display: flex;
  justify-content: space-between;
}
article.collection fieldset {
  display: inline-block;
  background-color: #007cec;
  color: #f2f2f2;
  border: 2px solid #012765;
  padding: .25em .5em;
  /* border-radius: 0 0 .25em .25em; */
}
article.collection label {
  display: inline-block;
  margin-right: .25em;
}

#collection a {
  text-decoration: none;
  color: #f2f2f2;
}

#collection.list img {
  max-width: 80px;
}

#collection.list thead th
{
	color:#012765;
	font-family: "Guy", sans-serif;
	background-color: rgba(207, 222, 0, 0.8);
	font-size: 2em;
	border: 1px solid #012765;;
	border-width: medium;
	border-radius: 5px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	padding-left: 5px;
	padding-right: 5px;
}

#collection.list tbody th,
#collection.list tbody td
{
	font-family: "Open sans", sans-serif;
  font-weight: normal;
	border: 2px solid ;
	border-color: #012765;
	text-align: center;
	color: #f2f2f2;
	background-color: #007cec;
	padding: 15px;
  vertical-align: middle;
}

#collection.list tbody td.title,
#collection.list tbody td.category
{
  white-space: nowrap;
}

#collection.list tbody td.title,
#collection.list tbody td.category,
#collection.list tbody td.description
{
  text-align: justify;
}

#collection.list tbody td.title
{
  font-weight: bold;
}

p.reserved
{
	font-size: 35px;
	font-family: "Guy", sans-serif;;
	text-decoration: underline;
	border: 2px solid #012765;
	color: #012765;
	background-color: rgba(207, 222, 0, 0.9);
}

/* CLASS */

.clicForm
{
	font-size: 0px;
	padding: 0px;
	display: contents;
}

.bouton
{
	padding: 5px;
	padding-bottom: 10px;
	border-radius: 17px;
	border-color: #012765;
	border: 2px solid;
	background-color: white;
	display: block;
}

.boutonSuppr img
{
	transition: 0.75s;
}

.boutonSuppr:hover img
{
	transform: scale(1.5);
}

.boutonSuppr
{
	padding: 10px;
	padding-bottom: 10px;
	border-radius: 17px;
	border-color: #012765;
	color: #012765;
	border: 2px solid;
	background-color: rgba(207, 222, 0, 0.8);
	font-family: "Guy", sans-serif;
	cursor: pointer;
	font-size: 1vw;
}

.right
{
	float: right;
	display: inline-block;
	font-size: 30px;
}

.left
{
	float: left;
	display: inline-block;
	font-size: 30px;
}

.center
{
	font-size: 30px;
}

.textInput
{
	color: #012765;
	font-size: 25px;
	font-weight: bold;
	border: 2px solid #012765;
	border-radius: 25px;
	padding-left: 10px;
	width: 80%;
	margin-bottom: 20px;
	font-family: "Verdana", "Genava", sans-serif;
	height: 40px;
}

article.doll
{
	border: 5px solid #012765;
	border-radius: 25px;
	background-color: rgba(207, 222, 0, 0.5);
	display: block;
}

article.doll img
{
	border: 3px solid #012765;
	margin: 25px;
	border-radius: 15px;
}

article.doll > header h3
{
	display: inline-block;
	color: #012765;
	font-family: "Guy", sans-serif;
	font-size: 25px;
}

article.doll .description
{
	background-color: rgba(207, 222, 0, 0.8);
	border-radius: 25px;
	font-family: "Verdana", "Genava", sans-serif;
	text-decoration: none;
	font-size: 25px;
	padding:18px;
	text-align: center;
}

article.doll > header h2
{
	display: inline-block;
	padding: 20px;
	border-radius: 25px;
  font-size: 30px;
}

.invisible
{
	background-color: transparent;
	padding: 0px;
	border-color: transparent;
}

/* ID */

#ajout
{
	display: inline-block;
	margin-left: 20%;
	margin-right: 20%;
	padding: 15px;
	border-radius: 5px;
	position: relative;
	background-color: transparent;
	font-size: 25px;
}

#ajoutpop2
{
	display: inline-block;
	padding: 20px;
	border-radius: 25px;
	background-color: rgba(207, 222, 0, 0.8);
	font-family: 'Guy', sans-serif;
	font-size: 25px;
	color: #012765;
	border: 2px solid #012765;
}

#red
{
	color: red;
	font-size:22px;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

#entre
{
	display: inline-block;
}

#suppr
{
	border: 0px;
	background-color: #007cec;
	color: #012765;
	text-decoration: none;
	padding: 15px;
	margin: 0px;
	display: flex;
	position: relative;
	text-align: justify;
}

#tdsuppr
{
	padding: 0px;
}

#deja
{
	display: block;
	background-color: transparent;
	border-width: 5px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px)
{

	.left
	{
		float: none;
		margin: auto;
		width: 80%;
	}

	.right
	{
		float: none;
		margin: auto;
		width: 80%;

	}

	#suppr
	{
	border: 0px;
	background-color: #007cec;
	color: #012765;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	position: relative;
	}

	.textInput
	{
		margin: 15px;
	}

	.boutonSuppr
	{
		font-size: 1.8vw;
	}
}

@media screen and (max-width: 1010px)
{
	.left
	{
		float: none;
		margin: auto;
		width: 80%;
	}

	.right
	{
		float: none;
		margin: auto;
		width: 80%;

	}

}
