@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');

/* CSS Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,main,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote::after,q:before,q::after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}
/* Never let img be bigger than the scren */
img {
  max-height: 100vh;
  max-width: 100vw;
}

h1,
hr,
article.collection > header,
article.collection #tools label,
#create .results a span,
article.collection > footer a span,
article.doll > footer a span,
.breadcrumb a span,
#collection.hidden,
#collection thead th:first-child,
#collection tbody th:first-child,
#collection.list thead,
#collection.grid thead,
#collection.grid .doll .description,
#palette {
  display: none;
}

/* --- Color Paletle  --- */
#palette {
  position: fixed;
  bottom: 3vh;
  right: .25rem;
  text-align: right;
}
#palette li {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: .25rem;
  cursor: help;
  border: 1px solid transparent;
}
#palette li:hover {
  border-color: hsl(0, 0%, 50%);
}
/* Primary Core palette */
#palette .primary.blue {
  background-color: #007cec;
}
#palette .primary.gray {
  background-color: #f2f2f2;
}
#palette .primary.orange {
  background-color: #f27120;
}
/* Secondary Core palette */
#palette .secondary {
  width: 1rem;
  height: 1rem;
  margin-left: .75rem;
}
#palette .secondary.green {
  margin-top: 1rem;
  background-color: #cfde00;
}
#palette .secondary.brown {
  background-color: #512c1d;
}
#palette .secondary.blue {
  background-color: #93b7bb;
}
#palette .secondary.gray  {
  background-color: #dbdfe4;
}
#palette .secondary.teal {
  background-color: #2EEDED;
}
#palette .secondary.darkblue {
  background-color: #012765;
}

body,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #012765;
  background-color: #f2f2f2;
}

body > header,
body > footer {
  background-image: url('/banniere.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body > header {
  position: relative;
  z-index: 1;
  height: 25vh;
  background-image: url('/popLogo.png'), url('/banniere.jpg');
  background-size: contain, cover;
  box-shadow: 0 .1em .25em .25em hsla(0, 0%, 0%, .5);
  background-color: #dbdfe4;
  transition: height .5s;
}
body > header.small {
  height: 12vh;
}

main {
  text-align: center;
}

article.collection .empty {
  font-size: 2em;
  margin: calc(30vh - .5em) 0 10vh;
  color: #93b7bb;
}

article.collection #tools {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #dbdfe4;
  padding: .75em calc(1vw + .25em) .5em;
}
article.collection #tools form {
  display: inline-block;
}
article.collection #tools select {
  border: none;
  padding: .25em calc(1vw + .25em);
}

/* Buttons */
#create .results a,
article.collection > footer a,
article.doll > footer a,
.breadcrumb a {
  position: absolute;
  z-index: 10;
  display: block;
  font-size: 2rem;
  top: calc(12.5vh - 1em);
  right: 6vw;
  background-color:  #f27120; /* orange */
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border-radius: 1.75em;
  padding: .4em;
  box-shadow: .1em .1em .2em hsla(0, 0%, 0%, .5);
  width: 1em;
  height: 1em;
  vertical-align: middle;
  outline: none;
  transition: background-color .25s;
}
.breadcrumb a {
  right: inherit;
  left: 6vw;
  text-decoration: none;
  top: calc(6vh - 1em);
}
article.doll > footer a {
  background-color: #87b7bb;
  top: calc(6vh - .9em);
}
#create .results a:hover,
article.collection > footer a:hover,
.breadcrumb a:hover {
  background-color: #512c1d;
}
article.doll > footer a:hover {
  background-color: #2eeded;
}
#create .results a::before,
article.collection > footer a::before {
  content: '\002b';
}
article.doll > footer a::before {
  content: '\2212';
}
.breadcrumb a::before {
  content: '\21E0';
}


#collection {
  width: 100%;
}

#collection td.title {
  color: #012765;
  font-weight: bold;
}
#collection td.category {
  font-weight: 600;
}

/* --- List View --- */
#collection.list {
  width: 100vw;
}
#collection.list thead tr {
  background-color: #007cec;
  color: #fff;
  font-variant: small-caps;
  box-shadow: .1em .1em .2em hsla(0, 0%, 0%, .5);
}
#collection.list thead th {
  vertical-align: middle;
  font-size: .8em;
  text-align: left;
}
#create,
#collection.list tbody tr {
  background-color: #fff;
  box-shadow: .1em .1em .2em hsla(0, 0%, 0%, .25);
}
#collection.list thead tr,
#collection.list tbody tr {
  display: grid;
  grid-template-columns: auto auto 6em;
  grid-template-rows: auto auto auto;
}
#collection.list .title,
#collection.list .description {
  grid-column: 1 / 3;
}
#collection.list .title {
  grid-row: 1;
}
#collection.list .category,
#collection.list .collection {
  grid-row: 2;
  text-align: left;
}
#collection.list .description {
  grid-row: 3;
}
#collection.list .details {
  grid-row: 1 / 4;
  grid-column: 3;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

#collection.list .doll .title {
  font-size: 1.1em;
}
#collection.list .doll .description {
  text-align: justify;
  /* font-size: .85em; */
  font-weight: 300;
}
#collection.list a {
  display: block;
  text-decoration: none;
  color: #012765;
  padding: .25rem  calc(1vw + .25em);
  vertical-align: middle;
}
#collection.list .doll .title a {
  padding-top: .75rem;
}
#collection.list .doll .description a {
  padding-bottom: .75rem;
  max-height: 2.75em;
  overflow: hidden;
}
#collection.list td,
#collection.list th {
  padding: 0;
  vertical-align: middle;
  text-align: left;
}
#collection.list td.unic a {
  text-align: center;
  padding: .75em;
}
#collection.list td.unic a:hover,
#collection.list tbody tr:hover th,
#collection.list tbody tr:hover td,
#collection.list tbody tr:hover th a,
#collection.list tbody tr:hover td a {
  background-color: #dbdfe4;
  color: #512c1d;
}
#collection.list .doll .details {
  text-align: center;
}
#collection.list .doll img {
  max-height: 4.5em;
  max-width: 4.5em;
  border-radius: .25em;
}

/* --- Grid View --- */

#collection.grid tbody {
  display: block;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  margin: 0;
  padding: .25em;
}

#collection.grid .doll {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1;
  margin: 2vh .25em;
  padding: 1em;
  color: #012765;
  background-color: #fff;
  text-decoration: none;
  box-shadow: .1em .1em .25em hsla(0, 0%, 0%, .25);
  border-radius: .5em;
}

#collection.grid .doll a,
#collection.grid .doll td {
  display: block;
  text-decoration: none;
  color: #012765;
}

#collection.grid .doll .title {
  font-size: 1.25em;
  font-variant: small-caps;
  margin-bottom: 1vh;
}

#collection.grid .doll .category {
  font-size: 1.1em;
}
#collection.grid .doll .details {
  margin-top: auto;
  margin-bottom: auto;
}
#collection.grid .doll img {
  width: 35vw;
  max-width: 12em;
  border-radius: .25em;
}

/* --- Doll --- */
article.doll {
  display: inline-block;
  text-align: center;
  margin: 4vh 4vw;
  color: #012765;
  border-radius: .5em;
}
article.doll > header {
  margin-bottom: .5em;
}
article.doll img {
  max-width: calc(80vw);
  max-height: calc(65vh - 4vw);
  padding: 2vw;
  border-radius: .75em;
  margin: 2vh 2vw;
  background-color: #fff;
  box-shadow: .1em .1em .25em hsla(0, 0%, 0%, .5);
}

article.doll h2 {
  font-size: 2.5em;
  font-variant: small-caps;
}
article.doll h3,
article.doll h4 {
  display: inline-block;
  font-size: 1.25em;
}
article.doll h3 {
  margin-top: 1vh;
}
article.doll h3::before {
  content: 'Pop! ';
}
article.doll h3::after {
  content: ' : ';
}


.breadcrumb,
.breadcrumb li {
  display: inline-block;
}

article.doll .description {
  font-size: 1.1em;
  line-height: 1.25;
  text-align: justify;
  margin: 0 2vw;
  padding: .5em 1.5rem;
}
article.doll .description:hover {
  background-color: #dbdfe4;
}

/* --- Create --- */
#create input[type="search"] {
  width: 100vw;
  font-size: 2rem;
  padding:  calc(1vh + .25em) calc(1vw + .25em);
}
#create .results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  calc(1vh + .25em) calc(1vw + .25em);
}
#create img {
  max-width: 20vw;
  max-height: 20vh;
}
#create .results a {
  position: static;
  margin-right: 2vw;
  font-size: 1.5rem;
}
