@font-face
{
  font-family: "Guy";
  src : url("./font/guy.ttf");
}

/* CSS Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,main,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote::after,q:before,q::after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}
/* --- Color Paletle  --- */
#palette {
  position: fixed;
  bottom: 3vh;
  right: .25rem;
  text-align: right;
}
#palette li {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: .25rem;
  cursor: help;
  border: 1px solid transparent;
}
#palette li:hover {
  border-color: hsl(0, 0%, 50%);
}
/* Primary Core palette */
#palette .primary.blue {
  background-color: #007cec;
}
#palette .primary.gray {
  background-color: #f2f2f2;
}
#palette .primary.orange {
  background-color: #f27120;
}
/* Secondary Core palette */
#palette .secondary {
  width: 1rem;
  height: 1rem;
  margin-left: .75rem;
}
#palette .secondary.green {
  margin-top: 1rem;
  background-color: #cfde00;
}
#palette .secondary.brown {
  background-color: #512c1d;
}
#palette .secondary.blue {
  background-color: #93b7bb;
}
#palette .secondary.gray  {
  background-color: #dbdfe4;
}
#palette .secondary.teal {
  background-color: #2EEDED;
}
#palette .secondary.darkblue {
  background-color: #012765;
}

body
{
  font-family: 'Open Sans', sans-serif;
  color: #012765;
  background-color: #f2f2f2;
}

body > header,
body > footer
{
  background-image: url('/banniere.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body > header
{
  position: relative;
  z-index: 1;
  height: 25vh;
  background-image: url('/popLogo.png'), url('/banniere.jpg');
  background-size: contain, cover;
  box-shadow: 0 .1em .25em .25em hsla(0, 0%, 0%, .5);
  background-color: #dbdfe4;
}

body > header.small
{
  height: 12vh;
}

h1,
hr
{
  display: none;
}

body > header nav
{
  z-index: 666;
  position: absolute;
  top: 100%;
  left: 85px;
  text-align: left;
}

body > header nav  a
{
  display: block;
  padding: 20px;
  border: medium solid #007cec;
  border-radius: 5px;
  color: #007cec;
  background-color: #f2f2f2;
  text-decoration: none;
  transition: background-color .5s, color .5s;
}

body > header nav > ul
{
  display: block;
  font-family: "Guy", sans-serif;
  font-weight: bold;
}

body > header nav > ul > li
{
  display: inline-block;
}

body > header nav li ul
{
  position: absolute;
  display: none;
}

header > nav li a:hover
{
  background-color: #007cec;
  color: #f2f2f2;
}

header > nav li:hover ul
{
  display: block;
}

article.collection > header {
  display: none;
}

article.collection #tools {
  /* box-shadow: .1em .1em .2em hsla(0, 0%, 0%, .5); */
  /* border-radius: 0 0 .25em .25em; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #007cec;
  color: #f2f2f2;
  padding: .75em .5em .25em;
}
article.collection #tools form {
  display: inline-block;
}
article.collection #tools label {
  display: inline-block;
  margin-right: .25em;
}

#collection {
  width: 100%;
}

/* Hide ID */
#collection thead th:first-child,
#collection tbody th:first-child {
  display: none;
}
#collection td.title {
  color: #012765;
  font-weight: bold;
}
/* #collection a {
  text-decoration: none;
  color: #f2f2f2;
} */

/* --- List View --- */

#collection.list thead tr {
  background-color: #dbdfe4;
  /* color: #dbdfe4; */
  font-variant: small-caps;
  box-shadow: .1em .1em .2em hsla(0, 0%, 0%, .5);
}
#collection.list thead th {
  padding: .5em;
  vertical-align: middle;
  font-size: .8em;
  text-align: left;
}
#collection.list tbody tr {
  background-color: #fff;
  box-shadow: .1em .1em .2em hsla(0, 0%, 0%, .25);
}
#collection.list thead tr,
#collection.list tbody tr {
  display: grid;
  grid-template-columns: auto auto 6em;
  grid-template-rows: auto auto auto;
}
#collection.list .title,
#collection.list .description {
  grid-column: 1 / 3;
}
#collection.list .title {
  grid-row: 1;
}
#collection.list .category,
#collection.list .collection {
  grid-row: 2;
  text-align: left;
  /* white-space: nowrap; */
}
#collection.list .description {
  grid-row: 3;
}
#collection.list .details {
  grid-row: 1 / 4;
  grid-column: 3;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

#collection.list .doll .title {
  font-size: 1.1em;
}
#collection.list .doll .description {
  text-align: justify;
  font-size: .85em;
}
#collection.list a {
  display: block;
  text-decoration: none;
  color: #012765;
  padding: .25rem .5rem;
  vertical-align: middle;
}
#collection.list .doll .title a {
  padding-top: .75rem;
}
#collection.list .doll .description a {
  padding-bottom: .75rem;
}
#collection.list td,
#collection.list th {
  padding: 0;
  vertical-align: middle;
  text-align: left;
}
#collection.list td.unic a {
  text-align: center;
  padding: .75em;
}
#collection.list td.unic a:hover,
#collection.list tbody tr:hover th,
#collection.list tbody tr:hover td,
#collection.list tbody tr:hover th a,
#collection.list tbody tr:hover td a {
  background-color: #dbdfe4;
  color: #512c1d;
}
#collection.list .doll .details {
  text-align: center;
}
#collection.list .doll img {
  max-height: 4.5em;
  max-width: 4.5em;
  border-radius: .25em;
}

/* --- Grid View --- */

#collection.grid tbody {
  display: block;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  margin: 0;
  padding: .25em;
}

#collection.grid thead,
#collection.grid .doll .description {
  display: none;
}

#collection.grid .doll {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1;
  margin: 2vh .25em;
  padding: 1em;
  color: #012765;
  background-color: #fff;
  text-decoration: none;
  box-shadow: .1em .1em .25em hsla(0, 0%, 0%, .25);
  border-radius: .5em;
}

#collection.grid .doll a,
#collection.grid .doll td {
  display: block;
  text-decoration: none;
  color: #012765;
}

#collection.grid .doll .title {
  font-size: 1.25em;
  font-variant: small-caps;
  margin-bottom: 1vh;
}

#collection.grid .doll .category {
  font-size: 1.1em;
}
#collection.grid .doll .details {
  margin-top: auto;
}
#collection.grid .doll img {
  width: 35vw;
  max-width: 12em;
  border-radius: .25em;
}

p.reserved
{
	font-size: 35px;
	font-family: "Guy", sans-serif;;
	text-decoration: underline;
	border: 2px solid #012765;
	color: #012765;
	background-color: rgba(207, 222, 0, 0.9);
}

article.doll img {
  max-width: calc(80vw - 3em);
  max-height: calc(65vh - 4vw - 3em);
}

/* CLASS */

.clicForm
{
	font-size: 0px;
	padding: 0px;
	display: contents;
}

.bouton
{
	padding: 5px;
	padding-bottom: 10px;
	border-radius: 17px;
	border-color: #012765;
	border: 2px solid;
	background-color: white;
	display: block;
}

.boutonSuppr img
{
	transition: 0.75s;
}

.boutonSuppr:hover img
{
	transform: scale(1.5);
}

.boutonSuppr
{
	padding: 10px;
	padding-bottom: 10px;
	border-radius: 17px;
	border-color: #012765;
	color: #012765;
	border: 2px solid;
	background-color: rgba(207, 222, 0, 0.8);
	font-family: "Guy", sans-serif;
	cursor: pointer;
	font-size: 1vw;
}

.right
{
	float: right;
	display: inline-block;
	font-size: 30px;
}

.left
{
	float: left;
	display: inline-block;
	font-size: 30px;
}

.center
{
	font-size: 30px;
}

.textInput
{
	color: #012765;
	font-size: 25px;
	font-weight: bold;
	border: 2px solid #012765;
	border-radius: 25px;
	padding-left: 10px;
	width: 80%;
	margin-bottom: 20px;
	font-family: "Verdana", "Genava", sans-serif;
	height: 40px;
}

article.doll
{
	border: 5px solid #012765;
	border-radius: 25px;
	background-color: rgba(207, 222, 0, 0.5);
	display: block;
}

article.doll img
{
	border: 3px solid #012765;
	margin: 25px;
	border-radius: 15px;
}

article.doll > header h3
{
	display: inline-block;
	color: #012765;
	font-family: "Guy", sans-serif;
	font-size: 25px;
}

article.doll .description
{
	background-color: rgba(207, 222, 0, 0.8);
	border-radius: 25px;
	font-family: "Verdana", "Genava", sans-serif;
	text-decoration: none;
	font-size: 25px;
	padding:18px;
	text-align: center;
}

article.doll > header h2
{
	display: inline-block;
	padding: 20px;
	border-radius: 25px;
  font-size: 30px;
}

.invisible
{
	background-color: transparent;
	padding: 0px;
	border-color: transparent;
}

/* ID */

#ajout
{
	display: inline-block;
	margin-left: 20%;
	margin-right: 20%;
	padding: 15px;
	border-radius: 5px;
	position: relative;
	background-color: transparent;
	font-size: 25px;
}

#ajoutpop2
{
	display: inline-block;
	padding: 20px;
	border-radius: 25px;
	background-color: rgba(207, 222, 0, 0.8);
	font-family: 'Guy', sans-serif;
	font-size: 25px;
	color: #012765;
	border: 2px solid #012765;
}

#red
{
	color: red;
	font-size:22px;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

#entre
{
	display: inline-block;
}

#suppr
{
	border: 0px;
	background-color: #007cec;
	color: #012765;
	text-decoration: none;
	padding: 15px;
	margin: 0px;
	display: flex;
	position: relative;
	text-align: justify;
}

#tdsuppr
{
	padding: 0px;
}

#deja
{
	display: block;
	background-color: transparent;
	border-width: 5px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px)
{

	.left
	{
		float: none;
		margin: auto;
		width: 80%;
	}

	.right
	{
		float: none;
		margin: auto;
		width: 80%;

	}

	#suppr
	{
	border: 0px;
	background-color: #007cec;
	color: #012765;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	position: relative;
	}

	.textInput
	{
		margin: 15px;
	}

	.boutonSuppr
	{
		font-size: 1.8vw;
	}
}

@media screen and (max-width: 1010px)
{
	.left
	{
		float: none;
		margin: auto;
		width: 80%;
	}

	.right
	{
		float: none;
		margin: auto;
		width: 80%;

	}

}
