<tr class="doll">

  <th class="id">
    <a href="./fiche.php?id=<?=$tableau['ID']?>" title="<?=$tableau['TITRE']?>">
      <?=$tableau['ID']?>
    </a>
  </th>

  <td class="title">
    <a href="./fiche.php?id=<?=$tableau['ID']?>" title="<?=$tableau['TITRE']?>">
      <?=$tableau['TITRE']?>
    </a>
  </td>

  <td class="category">
    <a href="./fiche.php?id=<?=$tableau['ID']?>"
      title="<?=$tableau['TITRE']?>">
      <?=$tableau['CAT']?>
    </a>
  </td>

  <td class="description">
    <a href="./fiche.php?id=<?=$tableau['ID']?>" title="<?=$tableau['TITRE']?>">
      <?=$tableau['DESC']?>
    </a>
  </td>

  <td class="image">
    <a href="./fiche.php?id=<?=$tableau['ID']?>" title="<?=$tableau['TITRE']?>">
      <img src="./img/<?=$tableau['ID']?>.jpg" />
    </a>
  </td>

</tr>
