<tr class="doll">

  <th class="id">
    <a href="/dolls/<?=$this->handle?>" title="<?=$this->title?>">
      <?=$this->handle?>
    </a>
  </th>

  <td class="title">
    <a href="/dolls/<?=$this->handle?>" title="<?=$this->title?>">
      <?=$this->title?>
    </a>
  </td>

  <td class="category">
    <a href="/dolls/<?=$this->handle?>"
      title="<?=$this->title?>">
      <?=$this->category?>
    </a>
  </td>

  <td class="collection">
    <a href="/dolls/<?=$this->handle?>"
      title="<?=$this->title?>">
      <?=$this->collection?>
    </a>
  </td>

  <td class="description">
    <a href="/dolls/<?=$this->handle?>" title="<?=$this->title?>">
      <?=$this->description?>
    </a>
  </td>

  <td class="details">
    <?php if ($this->funkoData->image->src) { ?>
      <a href="/dolls/<?=$this->handle?>" title="<?=$this->title?>">
        <img src="<?=$this->funkoData->image->src?>"/>
      </a>
    <?php } ?>
  </td>

</tr>
