<tr class="doll">

  <th class="id">
    <a href="./fiche.php?id=<?=$this->id?>" title="<?=$this->title?>">
      <?=$this->id?>
    </a>
  </th>

  <td class="title">
    <a href="./fiche.php?id=<?=$this->id?>" title="<?=$this->title?>">
      <?=$this->title?>
    </a>
  </td>

  <td class="category">
    <a href="./fiche.php?id=<?=$this->id?>"
      title="<?=$this->title?>">
      <?=$this->category?>
    </a>
  </td>

  <td class="description">
    <a href="./fiche.php?id=<?=$this->id?>" title="<?=$this->title?>">
      <?=$this->description?>
    </a>
  </td>

  <td class="image">
    <a href="./fiche.php?id=<?=$this->id?>" title="<?=$this->title?>">
      <img src="./img/<?=$this->id?>.jpg" />
    </a>
  </td>

</tr>
