    </main>
    <hr />
    <footer>
      <!-- NI! -->
      <ul id="palette">
        <li class="primary blue" title="Primary Blue — #007cec">&nbsp; </li>
        <li class="primary gray" title="Primary Background Gray — #f2f2f2">&nbsp; </li>
        <li class="primary orange" title="Primary Button Orange — #f27120">&nbsp; </li>
        <li class="secondary green" title="Secondary Green — #cfde00">&nbsp; </li>
        <li class="secondary brown" title="Secondary Brown — #512c1d">&nbsp; </li>
        <li class="secondary blue" title="Secondary Blue — #93b7bb">&nbsp; </li>
        <li class="secondary gray" title="Secondary Gray — #dbdfe4">&nbsp; </li>
        <li class="secondary teal" title="Secondary Teal — #2eeded">&nbsp; </li>
        <li class="secondary darkblue" title="Secondary Dark Blue — #012765">&nbsp; </li>
      </ul>
    </footer>
  </body>
</html>
